<a href="https://colab.research.google.com/github/jcsoliman/cu_fintech_project_2/blob/master/StockPriceDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install simfin

Requirement already satisfied: simfin in c:\python38\lib\site-packages (0.2.0)
Requirement already satisfied: requests in c:\python38\lib\site-packages (from simfin) (2.22.0)
Requirement already satisfied: numpy in c:\python38\lib\site-packages (from simfin) (1.18.0)
Requirement already satisfied: pandas in c:\python38\lib\site-packages (from simfin) (0.25.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\python38\lib\site-packages (from requests->simfin) (2019.11.28)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\python38\lib\site-packages (from requests->simfin) (1.25.7)
Requirement already satisfied: idna<2.9,>=2.5 in c:\python38\lib\site-packages (from requests->simfin) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\python38\lib\site-packages (from requests->simfin) (3.0.4)
Requirement already satisfied: pytz>=2017.2 in c:\python38\lib\site-packages (from pandas->simfin) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\python38\lib\site-packages (from pandas->simfin) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\python38\lib\site-packages (from python-dateutil>=2.6.1->pandas->simfin) (1.13.0)

In [2]:
import pandas as pd
from pathlib import Path
%matplotlib inline
import simfin as sf
from simfin.names import *

In [3]:
sf.set_data_dir('~/simfin_data/')
df_prices = sf.load_shareprices(variant='daily', market='US')

Dataset "us-shareprices-daily" on disk (13 days old), loading.

In [4]:
df_prices.reset_index(inplace=True)

In [5]:
df_prices.head(10)

,Ticker,Date,SimFinId,Open,Low,High,Close,Adj. Close,Dividend,Volume
0,A,2007-01-03,45846,25.0286,24.3562,25.3791,24.5351,22.75,NaN,3599200
1,A,2007-01-04,45846,24.5351,23.9342,24.7496,24.6137,22.82,NaN,2899000
2,A,2007-01-05,45846,24.5351,24.3210,24.6066,24.3848,22.61,NaN,3741800
3,A,2007-01-08,45846,24.3062,24.0916,24.3777,24.2990,22.53,NaN,2176900
4,A,2007-01-09,45846,24.3777,24.0558,24.5494,24.3276,22.55,NaN,1937900
5,A,2007-01-10,45846,24.3491,23.8698,24.3491,24.1059,22.35,NaN,3016000
6,A,2007-01-11,45846,24.1989,23.8555,24.3491,24.1059,22.35,NaN,2919400
7,A,2007-01-12,45846,24.0844,23.9914,24.3491,24.0343,22.28,NaN,1965400
8,A,2007-01-16,45846,23.9700,23.8484,24.2704,23.9914,22.24,NaN,4328900
9,A,2007-01-17,45846,23.9127,23.4328,23.9485,23.5122,21.80,NaN,3723000

In [6]:
df_prices.drop(["SimFinId","Open", "Low", "High", "Adj. Close", "Dividend", "Volume"],1,inplace=True)

In [7]:
df_prices.sort_values(by=["Ticker","Date"],ascending=True,inplace=True)

In [8]:
df_prices.head(10)

  Ticker       Date    Close
0      A 2007-01-03  24.5351
1      A 2007-01-04  24.6137
2      A 2007-01-05  24.3848
3      A 2007-01-08  24.2990
4      A 2007-01-09  24.3276
5      A 2007-01-10  24.1059
6      A 2007-01-11  24.1059
7      A 2007-01-12  24.0343
8      A 2007-01-16  23.9914
9      A 2007-01-17  23.5122

In [9]:
df_prices['Returns'] = df_prices['Close'].pct_change()
df_prices['12-day Rolling']= df_prices['Returns'].rolling(window=12).mean()
df_prices['5-day Rolling']= df_prices['Returns'].rolling(window=5).mean()
df_prices['3-day Rolling']= df_prices['Returns'].rolling(window=3).mean()
df_prices['12-day Rolling Std']= df_prices['Returns'].rolling(window=12).std()
df_prices['5-day Rolling Std']= df_prices['Returns'].rolling(window=5).std()
df_prices['3-day Rolling Std']= df_prices['Returns'].rolling(window=3).std()

In [10]:
df_prices.head()

,Ticker,Date,Close,Returns,12-day Rolling,5-day Rolling,3-day Rolling,12-day Rolling Std,5-day Rolling Std,3-day Rolling Std
0,A,2007-01-03,24.5351,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A,2007-01-04,24.6137,0.003204,NaN,NaN,NaN,NaN,NaN,NaN
2,A,2007-01-05,24.3848,-0.009300,NaN,NaN,NaN,NaN,NaN,NaN
3,A,2007-01-08,24.2990,-0.003519,NaN,NaN,-0.003205,NaN,NaN,0.006258
4,A,2007-01-09,24.3276,0.001177,NaN,NaN,-0.003880,NaN,NaN,0.005248