<a href="https://colab.research.google.com/github/jcsoliman/cu_fintech_project_2/blob/master/StockPriceDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
!pip install simfin

Collecting simfin
  Downloading https://files.pythonhosted.org/packages/d2/2a/62e52cc224cd410ead061a8dc1fb265abf688e68492521223d04d73d69b0/simfin-0.2.0-py3-none-any.whl
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from simfin) (1.17.4)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from simfin) (2.21.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from simfin) (0.25.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->simfin) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->simfin) (2019.11.28)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->simfin) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->simfin) (3.0.4)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->simfin) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->simfin) (2.6.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->simfin) (1.12.0)
Installing collected packages: simfin
Successfully installed simfin-0.2.0

In [0]:
import pandas as pd
from pathlib import Path
%matplotlib inline
import simfin as sf
from simfin.names import *

In [13]:
sf.set_data_dir('~/simfin_data/')
df_prices = sf.load_shareprices(variant='daily', market='US')

Dataset "us-shareprices-daily" not on disk, downloading ...
- Download progress: 100.0%
- Extracting zip-file: Done!

In [14]:
df_prices.head(10)

                   SimFinId     Open      Low  ...  Adj. Close  Dividend   Volume
Ticker Date                                    ...
A      2007-01-03     45846  25.0286  24.3562  ...       22.75       NaN  3599200
       2007-01-04     45846  24.5351  23.9342  ...       22.82       NaN  2899000
       2007-01-05     45846  24.5351  24.3210  ...       22.61       NaN  3741800
       2007-01-08     45846  24.3062  24.0916  ...       22.53       NaN  2176900
       2007-01-09     45846  24.3777  24.0558  ...       22.55       NaN  1937900
       2007-01-10     45846  24.3491  23.8698  ...       22.35       NaN  3016000
       2007-01-11     45846  24.1989  23.8555  ...       22.35       NaN  2919400
       2007-01-12     45846  24.0844  23.9914  ...       22.28       NaN  1965400
       2007-01-16     45846  23.9700  23.8484  ...       22.24       NaN  4328900
       2007-01-17     45846  23.9127  23.4328  ...       21.80       NaN  3723000

[10 rows x 8 columns]

In [0]:
df_prices.drop(["SimFinId","Open", "Low", "High", "Adj. Close", "Dividend", "Volume"],1,inplace=True)

In [0]:
df_prices.sort_values(by=["Ticker","Date"],ascending=True,inplace=True)

In [17]:
df_prices.head(10)

                     Close
Ticker Date
A      2007-01-03  24.5351
       2007-01-04  24.6137
       2007-01-05  24.3848
       2007-01-08  24.2990
       2007-01-09  24.3276
       2007-01-10  24.1059
       2007-01-11  24.1059
       2007-01-12  24.0343
       2007-01-16  23.9914
       2007-01-17  23.5122

In [0]:
df_prices['Returns'] = df_prices['Close'].pct_change()
df_prices['12-day Rolling']= df_prices['Returns'].rolling(window=12).mean()
df_prices['5-day Rolling']= df_prices['Returns'].rolling(window=5).mean()
df_prices['3-day Rolling']= df_prices['Returns'].rolling(window=3).mean()
df_prices['12-day Rolling Std']= df_prices['Returns'].rolling(window=12).std()
df_prices['5-day Rolling Std']= df_prices['Returns'].rolling(window=5).std()
df_prices['3-day Rolling Std']= df_prices['Returns'].rolling(window=3).std()

In [19]:
df_prices.head()

                     Close   Returns  ...  5-day Rolling Std  3-day Rolling Std
Ticker Date                           ...
A      2007-01-03  24.5351       NaN  ...                NaN                NaN
       2007-01-04  24.6137  0.003204  ...                NaN                NaN
       2007-01-05  24.3848 -0.009300  ...                NaN                NaN
       2007-01-08  24.2990 -0.003519  ...                NaN           0.006258
       2007-01-09  24.3276  0.001177  ...                NaN           0.005248

[5 rows x 8 columns]