In [109]:
# Initial imports
from path import Path
from pathlib import Path
import pandas as pd
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

import pydotplus
from IPython.display import Image

%matplotlib inline

In [110]:
# import CSV file into dataframe
file_path = Path("./Transcripts/GS_ForModel.csv")
df = pd.read_csv((file_path), index_col='Date')
df.head()

,Order,Sent_Neg,Sent_Neu,Sent_Pos,Price_DayPrior,Price_2DaysAfter
Date,,,,,,
4/16/15,1,0.019,0.850,0.131,201.10,198.10
7/16/15,2,0.025,0.852,0.123,212.96,212.39
10/15/15,3,0.027,0.844,0.129,179.51,185.74
1/20/16,4,0.029,0.863,0.107,156.82,156.86
4/19/16,5,0.031,0.840,0.129,159.02,165.32

In [111]:
#See List of column titles
for col in df.columns:
    print(col)

Order
Sent_Neg
Sent_Neu
Sent_Pos
Price_DayPrior
Price_2DaysAfter

In [112]:
x_train=df.iloc[0:12,1:5].copy()
x_train.dropna()

          Sent_Neg  Sent_Neu  Sent_Pos  Price_DayPrior
Date
4/16/15      0.019     0.850     0.131          201.10
7/16/15      0.025     0.852     0.123          212.96
10/15/15     0.027     0.844     0.129          179.51
1/20/16      0.029     0.863     0.107          156.82
4/19/16      0.031     0.840     0.129          159.02
7/19/16      0.024     0.864     0.112          163.33
10/18/16     0.022     0.843     0.135          169.00
1/18/17      0.024     0.835     0.140          235.74
4/18/17      0.032     0.825     0.143          226.26
7/18/17      0.032     0.840     0.128          229.26
10/17/17     0.017     0.856     0.127          242.41
1/17/18      0.020     0.878     0.101          258.46

In [113]:
y_train=df.iloc[0:12,:]['Price_2DaysAfter'] #.set_index('Date') #.copy()
y_train.dropna()

Date
4/16/15     198.10
7/16/15     212.39
10/15/15    185.74
1/20/16     156.86
4/19/16     165.32
7/19/16     160.05
10/18/16    174.51
1/18/17     232.20
4/18/17     218.06
7/18/17     222.30
10/17/17    239.99
1/17/18     256.12
Name: Price_2DaysAfter, dtype: float64

In [114]:
x_test= df.iloc[13:18,1:5].copy()
x_test.dropna()

          Sent_Neg  Sent_Neu  Sent_Pos  Price_DayPrior
Date
7/17/18      0.020     0.842     0.138          231.44
10/16/18     0.016     0.843     0.142          215.22
1/16/19      0.021     0.857     0.121          179.91
4/15/19      0.020     0.867     0.113          207.84
7/16/19      0.025     0.863     0.112          211.58

In [115]:
y_test=df.iloc[13:18,5:6].copy()
y_test.dropna()

          Price_2DaysAfter
Date
7/17/18             229.63
10/16/18            224.95
1/16/19             202.54
4/15/19             207.90
7/16/19             214.52

In [116]:
from sklearn.linear_model import LinearRegression
#from sklearn.preprocessing import te

In [117]:
scaler = StandardScaler()

In [118]:
x_scaler = scaler.fit(x_train)

In [120]:
# Scaling data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

In [121]:
# Create a random forest classifier
LR_model = LinearRegression()#RandomForestClassifier(n_estimators=100, random_state=25)

In [122]:
# Fitting the model
import numpy as np
LR_model = LR_model.fit(x_train_scaled, y_train)

In [130]:
predictions = LR_model.predict(x_test_scaled)
predictions

array([229.29588632, 215.10674519, 182.73892505, 207.04198777,
       209.00535995])

In [131]:
LR_model.coef_

array([ -5.39298995, -11.44886204,  -9.61309285,  31.19785497])

In [132]:
LR_model.intercept_

201.80333333333323

In [133]:
LR_model.score(x_train_scaled, y_train, sample_weight=None)

0.9887860666684017

In [134]:
import numpy as np
from sklearn.metrics import mean_squared_error, r2_score

In [135]:
score = LR_model.score(x_test_scaled, y_test)
r2 = r2_score(y_test, predictions)

In [136]:
print(f"Score: {score}, r2: {r2}")

Score: -0.010532499628812086, r2: -0.010532499628812086

In [137]:
mse = mean_squared_error(y_test, predictions)
mse

104.04626128880177

In [138]:
rmse = np.sqrt(mse)
rmse

10.200306921303975

In [140]:
np.std(y_test)

Price_2DaysAfter    10.14701
dtype: float64

In [ ]:
plt.scatter(x_test[''], y)
plt.plot(X['Week_of_Year'], predictions, color='red')