In [1]:
from transcriptanalyzer import analyzetranscript
from financialdata import financial_data

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Manpreet\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [2]:
a=analyzetranscript(resourcepath='./Resources')
a.get_tickers()

In [3]:
#check if the tickers list is correct
a.tickers

['AAPL',
 'A',
 'CZMWF',
 'FB',
 'GOOG',
 'GS',
 'JNJ',
 'JPM',
 'MRK',
 'MSFT',
 'MS',
 'NFLX',
 'NVS',
 'PFE',
 'WFC']

In [4]:
#Generate Sentiment Data
d=a.create_sentiment_data()
d

                     Pos    Neu    Neg  Normalized
Ticker Date
A      2019-11-25  0.155  0.832  0.013           1
AAPL   2019-10-30  0.147  0.835  0.018           1
CZMWF  2019-12-06  0.189  0.786  0.025           1
FB     2019-10-30  0.149  0.834  0.017           1
GOOG   2019-10-28  0.166  0.826  0.008           1
GS     2015-04-16  0.157  0.824  0.019           1
       2015-07-16  0.144  0.828  0.028           1
       2015-10-15  0.148  0.818  0.034           1
       2016-01-16  0.130  0.839  0.030           1
       2016-04-19  0.155  0.811  0.034           1
       2016-07-19  0.139  0.835  0.027           1
       2016-10-18  0.162  0.813  0.025           1
       2017-04-18  0.167  0.798  0.035           1
       2017-07-18  0.148  0.819  0.032           1
       2017-10-17  0.147  0.833  0.019           1
       2017-10-18  0.168  0.805  0.027           1
       2018-01-17  0.114  0.863  0.023           1
       2018-04-17  0.170  0.808  0.021           1
       2018-07-17  0.160  0.819  0.021           1
       2018-10-16  0.157  0.825  0.018           1
       2019-01-16  0.138  0.840  0.022           1
       2019-04-15  0.136  0.840  0.024           1
       2019-07-16  0.137  0.835  0.029           1
       2019-10-15  0.148  0.832  0.020           1
JNJ    2019-07-16  0.193  0.790  0.017           1
       2019-10-15  0.198  0.781  0.021           1
JPM    2019-10-15  0.128  0.835  0.037           1
MRK    2019-07-30  0.144  0.818  0.038           1
       2019-10-29  0.152  0.809  0.040           1
MS     2019-10-17  0.154  0.820  0.026           1
MSFT   2019-10-23  0.164  0.821  0.015           1
NFLX   2019-10-16  0.152  0.837  0.011           1
NVS    2019-07-18  0.161  0.816  0.024           1
       2019-10-22  0.146  0.830  0.024           1
PFE    2019-07-29  0.143  0.832  0.025           1
       2019-10-29  0.146  0.832  0.022           1
WFC    2019-10-15  0.152  0.820  0.028           1

In [5]:
fd=financial_data(a.tickers,d)
fd.columns_to_drop=["SimFinId","Open", "Low", "High", "Adj. Close", "Dividend", "Volume"]
fd.sort_on_index=["Ticker","Date"]
fd.get_share_prices()

Dataset "us-shareprices-daily" on disk (15 days old), loading.

Empty DataFrame
Columns: [Pos, Neu, Neg, Normalized, Ticker, Date, Close, Returns, 12-day Rolling, 5-day Rolling, 3-day Rolling, 12-day Rolling Std, 5-day Rolling Std, 3-day Rolling Std, difference 1-day, difference 3-days, direction 1-day, direction 3-days]
Index: []

In [6]:
fd.df_prices

,Ticker,Date,Close,Returns,12-day Rolling,5-day Rolling,3-day Rolling,12-day Rolling Std,5-day Rolling Std,3-day Rolling Std,difference 1-day,difference 3-days,direction 1-day,direction 3-days
0,A,2007-01-03,24.5351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
1,A,2007-01-04,24.6137,0.003204,NaN,NaN,NaN,NaN,NaN,NaN,0.0786,NaN,1,0
2,A,2007-01-05,24.3848,-0.009300,NaN,NaN,NaN,NaN,NaN,NaN,-0.2289,NaN,0,0
3,A,2007-01-08,24.2990,-0.003519,NaN,NaN,-0.003205,NaN,NaN,0.006258,-0.0858,-0.2361,0,0
4,A,2007-01-09,24.3276,0.001177,NaN,NaN,-0.003880,NaN,NaN,0.005248,0.0286,-0.2861,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5213930,ZNGA,2019-11-15,6.2800,-0.007899,0.000996,0.000014,-0.003154,0.011592,0.005947,0.005700,-0.0500,-0.0600,0,0
5213931,ZNGA,2019-11-18,6.2600,-0.003185,0.001267,-0.001419,-0.002638,0.011439,0.005606,0.005554,-0.0200,-0.0500,0,0
5213932,ZNGA,2019-11-19,6.3000,0.006390,-0.000632,-0.001251,-0.001565,0.007649,0.005873,0.007281,0.0400,-0.0300,1,0
5213933,ZNGA,2019-11-20,6.2300,-0.011111,-0.000245,-0.002527,-0.002635,0.006896,0.007330,0.008763,-0.0700,-0.0500,0,0
5213934,ZNGA,2019-11-21,6.0900,-0.022472,-0.002718,-0.007655,-0.009064,0.008986,0.010592,0.014539,-0.1400,-0.1700,0,0